<!DOCTYPE html>
<html>
  <head>
    <title>Action Unsuccessful</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <h1>Action Unsuccessful</h1>
      <form class="form-horizontal" role="form" method="get"
							action="signin">
                                <div class="form-group">                                   
							<div class=" col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                <p><label>Login Again...</label><br>
                                </p>
									   <button type="submit" class="btn btn-primary">Login</button>
                                    </div>
                                </div>
							</form>
  </body>
</html>